.hero-image {
  background-image: url("https://res.cloudinary.com/gearscloud/image/upload/c_scale,q_auto,w_1023/v1626296396/Portfolio/jw4_truywy.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
